.DS_Store
.iterm-color
node_modules/
dist/
build/
/bin/
coverage/
.vite/
.next/
.terraform/
.venv/
*.tfstate
*.tfstate.*
trivy-results.sarif
var/

# 秘密情報
.env
.env.*
!.env.example
.vercel
.env*.local
.env*
